{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <center>
                <div class="alert alert-danger">{{ messageError }}</div>
            </center>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <label class="offset-5" for="inputPseudo">Identifiant :</label>
        <input class="m-4" type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control"
               autocomplete="pseudo" required autofocus>
        <br>
        <label class="offset-5" for="inputPassword">Mot de passe : </label>
        <input class="m-1" type="password" name="password" id="inputPassword" class="form-control"
               autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <button class="btn-sortie offset-5" type="submit">
            Connexion
        </button>


        <label class="m-2 offset-5">
            <input class="checkbox" type="checkbox" name="_remember_me"> Se souvenir de moi <br>

            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>

        </label>

    </form>

    <style>
        .btn-sortie {
            display: inline;
            justify-content: space-around;
            line-height: 2em;
            min-height: 3em;
            padding: 0 20px;
            background: teal;
            letter-spacing: 2px;
            transition: .2s all ease-in-out;
            outline: none;
            border: 1px solid #00CCCC;
            border-radius: 10px 10px 15px 10px;
            box-shadow: 3px 2px 1px rgba(51, 225, 208, 0.3), 3px 3px 1px 1px #00CCCC;
        }
    </style>
{% endblock %}
