{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <br>
        <label class="offset-5" for="inputUsername">Identifiant :</label>
        <input class="m-4 form-control" type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
        <label class="offset-5" for="inputPassword">Mot de passe : </label>
        <input class="m-1 form-control" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg mb-4 btn-primary offset-5" type="submit">
            Connexion
        </button>


        <label class="m-2 offset-5">
            <input class="checkbox" type="checkbox" name="_remember_me"> Se souvenir de moi <br>
            <a class="m-2 mt-1 offset-5" href="">Mot de passe oublié</a>
        </label>


    </form>
{% endblock %}
