{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/style_flxgrd.css') }}">{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Ajouter un utilisateur</h1>

    <div class="form">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.mail) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.site) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.actif) }}
        {{ form_widget(registrationForm) }}
    </div>
    <div class="col-12 col-sm-6 col-md-7 offset-4">
        <button class="btn btn-lg btn-primary" type="submit">
            Enregister
        </button>

        <a class="btn btn-lg btn-danger"
           href="{{ path('main_home') }}">Retourner à
            la page d'accueil</a>
        <div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
    <br>
    <div class="col-12 col-sm-6 col-md-7 offset-3">
        <form enctype="multipart/form-data" action="{{ path('app_register_file') }}" method="post">
            <input accept="text/csv" type="hidden" name="MAX_FILE_SIZE" value="100000"/>
            Importer des utilisateurs via un fichier.csv<input accept="text/csv" type="file" name="monfichier"/>
            <input type="submit"/>
        </form>
    </div>




{% endblock %}
