{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/accueil.js') }}"></script>
{% endblock %}

{% block body %}


    <div class="main">
        {{ form_start(filterForm, {'attr': {'class': 'filterForm'}}) }}
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-6 col-xxl-6">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_label(filterForm.site) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_widget(filterForm.site) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_label(filterForm.recherche) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_widget(filterForm.recherche) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_label(filterForm.dateDebut) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_widget(filterForm.dateDebut) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_label(filterForm.dateFin) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">{{ form_widget(filterForm.dateFin) }}</div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 col-xxl-4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">{{ form_widget(filterForm.organisateur) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">{{ form_widget(filterForm.inscrit) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">{{ form_widget(filterForm.nonInscrit) }}</div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">{{ form_widget(filterForm.sortiesPassees) }}</div>
                </div>
            </div>
            <div class="col-11 col-sm-11 col-md-7 col-lg-2 col-xl-2 col-xxl-2
                        offset-1 offset-sm-1 offset-md-5 offset-lg-0 offset-xl-0 offset-xxl-0">
                <div class="row">
                    <div class="col-12">
                        <button>rechercher</button>
                    </div>
                </div>
            </div>
        </div>


        {{ form_end(filterForm) }}

        {% for message in app.flashes('notice') %}
            <div class="row pad">
                <div class="col-lg-4 offset-lg-4"><strong>{{ message }}</strong></div>
            </div>
        {% endfor %}


        {% for sortie in sorties %}
            <div class="parent">
                <div class="sortie">
                    <div class="row align-items-center">
                        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
                            {% if sortie.urlPhoto %}
                                <a href="{{ path('sortie_detail', {sortie_id: sortie.id}) }}"><img class="photoSortie"
                                                                                                   src="{{ asset('img/') ~ sortie.urlPhoto }}"
                                                                                                   alt="photo"></a>
                            {% else %}
                                <a href="{{ path('sortie_detail', {sortie_id: sortie.id}) }}"><img class="photoSortie"
                                                                                                   src="{{ asset('img/default_picture.png') }}"
                                                                                                   alt="photo"></a>
                            {% endif %}
                        </div>
                        <div class="col-6 col-sm-8 col-md-8 col-lg-10 col-xl-10 col-xxl-10">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
                                    <div><strong>Nom</strong></div>
                                    <div><span>{{ sortie.nom }}</span></div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-1">
                                    <div><strong>Date</strong></div>
                                    <div><span>{{ sortie.dateDebut|date('d/m/Y') }}</span></div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-1">
                                    <div><strong>Clôture</strong></div>
                                    <div><span>{{ sortie.dateCloture|date('d/m/Y') }}</span></div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
                                    <div><strong>Inscrits/places</strong></div>
                                    <div>
                                        <span>{{ sortie.inscriptions|length }}/{{ sortie.nbInscriptionsMax }}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 col-xxl-1">
                                    <div><strong>Etat</strong></div>
                                    <div>
                                        <span class="etat">{{ sortie.etat.libelle }}</span>
                                        <input type="hidden" value="{{ sortie.id }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 col-xxl-1">
                                    <div><strong>Inscrit</strong></div>
                                    <div>
                                        {% set bool = false %}
                                        {% for ins in sortie.inscriptions %}
                                            {% if ins.participant.id == app.user.id %}
                                                {% set bool = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if bool %}
                                            <img class="logoInscrit" src="{{ asset('img/tick.png') }}" alt="logo">
                                        {% elseif bool == false and sortie.organisateur != app.user %}
                                            <img class="logoInscrit" src="{{ asset('img/cross.png') }}" alt="logo">
                                        {% elseif bool == false and sortie.organisateur == app.user %}
                                            <img class="logoInscrit" src="{{ asset('img/logo_organisateur.png') }}"
                                                 alt="logo">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2
                                            offset-0 offset-sm-0 offset-md-0 offset-lg-4 offset-xl-0 offset-xxl-0">
                                    <div><strong>Organisateur</strong></div>
                                    <div><span>{{ sortie.organisateur.pseudo }}</span></div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2
                                            offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-6 offset-xxl-0">
                                    <div><strong>Action</strong></div>
                                    <div>
                                        <a href="{{ path('sortie_detail', {sortie_id: sortie.id}) }}">Afficher</a>
                                        {% set bool = false %}
                                        {% for ins in sortie.inscriptions %}
                                            {% if ins.participant.id == app.user.id %}
                                                {% set bool = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if sortie.organisateur != app.user %}
                                            {% if bool and sortie.dateDebut > now %}
                                                <a href="{{ path('inscription_desistement', {sortie_id: sortie.id}) }}">Se
                                                    désister</a>
                                            {% elseif bool == false and sortie.inscriptions|length < sortie.nbInscriptionsMax and sortie.dateCloture > now and sortie.etat.libelle == 'Ouverte' %}
                                                <a href="{{ path('inscription_inscription', {sortie_id: sortie.id}) }}">S'inscrire</a>
                                            {% endif %}
                                        {% elseif sortie.organisateur == app.user %}
                                            {% if sortie.etat.libelle == 'Créée' %}
                                                    <a href="{{ path('sortie_update', {idSortie: sortie.id}) }}">Modifier</a>
                                                    <a href="{{ path('sortie_publier', {sortie_id: sortie.id }) }}">Publier</a>
                                            {% elseif sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
                                                    <a href="{{ path('sortie_cancelReason', {sortie_id: sortie.id}) }}">Annuler</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}

{% block style %}
    <style type="text/css">
        .main {
            margin-left: 5vw;
            margin-right: 5vw;
        }

        .pad {
            margin-top: 5vh;
        }

        .sortie {
            border: 1px solid black;
            border-radius: 1vw;
        }

        .parent {
            margin-bottom: 3vh;
        }

        .filterForm {
            margin-top: 3vh;
            margin-bottom: 3vh;
            padding: 3vh;
            border: 1px solid black;
            border-radius: 1vw;
        }

        input[type=text], input[type=date], select {
            border: 1px solid black;
            border-radius: 0.5vw;
            text-align: center;
        }

        button {
            border: 1px solid black;
            border-radius: 0.5vw;
        }

        input[type=checkbox] {
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 1.5vh;
            height: 1.5vh;
            margin-right: 1vw;
            border: 1px solid black;
            border-radius: 50%;
        }

        input[type=checkbox]:checked {
            background-color: #00a6ff;
        }

        .photoSortie {
            width: 100%;
        }

        .logoInscrit {
            width: 2vw;
        }

        .etat:hover {
            cursor: pointer;
        }
        #ajaxDisplay{
            border: 1px solid black;
            border-radius: 1vw;
        }
    </style>
{% endblock %}
