{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}


<div>
    {{ form_start(filterForm, {'attr': {'class': 'container'}}) }}
    <div class="row">
        <div class="col-lg-2">{{ form_label(filterForm.site) }}</div>
        <div class="col-lg-2">{{ form_widget(filterForm.site) }}</div>
    </div>
    <div class="row">
        <div class="col-lg-2">{{ form_label(filterForm.recherche) }}</div>
        <div class="col-lg-2">{{ form_widget(filterForm.recherche) }}</div>
        <div class="col-lg-2">{{ form_widget(filterForm.organisateur) }}</div>
        <div class="col-lg-2">{{ form_label(filterForm.organisateur) }}</div>
    </div>
    <div class="row">
        <div class="">{{ form_widget(filterForm.inscrit) }}{{ form_label(filterForm.inscrit) }}</div>
    </div>
    <div class="row">
        <div class="col-lg-2">{{ form_label(filterForm.dateDebut) }}</div>
        <div class="col-lg-2">{{ form_widget(filterForm.dateDebut) }}</div>
        <div class="col-lg-2">{{ form_label(filterForm.dateFin) }}</div>
        <div class="col-lg-2">{{ form_widget(filterForm.dateFin) }}</div>
        <div class="col-lg-2">{{ form_widget(filterForm.nonInscrit) }}{{ form_label(filterForm.nonInscrit) }}</div>
    </div>
    <div class="row">
        <div class="">{{ form_widget(filterForm.sortiesPassees) }}{{ form_label(filterForm.sortiesPassees) }}</div>
    </div>

    <button>rechercher</button>
    {{ form_end(filterForm) }}
</div>
{% endblock %}
