{% extends 'base.html.twig' %}
{% block title %}Edit profil{% endblock %}

{% block body %}
    {% if error %}
        <center>
            <div class="alert alert-danger">{{ error }}</div>
        </center>
    {% endif %}

    <h1 class="offset-4">Mon profil !</h1>

    <div class="offset-4">
        <div class="mt-4">
            {{ form_start(userForm) }}

            {{ form_widget(userForm) }}

            <label for="avatar">Ma photo:</label>
            <input type="file"
                   id="avatar" name="avatar"
                   accept="image/png, image/jpeg">
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-7 offset-4">
        <button class="btn btn-lg btn-primary" type="submit">
            Enregister
        </button>

        <a class="btn btn-lg btn-danger"
           href="{{ path('main_home') }}">Retourner à
            la page d'accueil</a>
    </div>

    {{ form_end(userForm) }}


{% endblock %}
