{% extends 'base.html.twig' %}
{% block title %}Edit profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/style_flxgrd.css') }}">{% endblock %}

{% block body %}
    {% if error %}
        <center>
            <div class="alert alert-danger">{{ error }}</div>
        </center>
    {% endif %}
    <div>
        <center><h1 class="alert-link"> Mon profil ! </h1></center>
    </div>
    {% if user.photo %}
        <center>
            <img src="{{ asset('img/images/' ~ user.photo) }}">
        </center>
    {% endif %}
    {% if user.photo == false %}
        <center>
            <div> Vous n'avez pas encore de photo photo de profil</div>
        </center>
    {% endif %}
    <div class="form sortie-form">

        {{ form_start(userForm) }}

        {{ form_row((userForm.pseudo)) }}
        {{ form_row((userForm.prenom)) }}
        {{ form_row((userForm.nom)) }}
        {{ form_row((userForm.telephone)) }}
        {{ form_row((userForm.mail)) }}
        {{ form_row((userForm.password)) }}
        {{ form_row((userForm.site)) }}
        {{ form_row((userForm.photo)) }}
        {{ form_widget(userForm) }}

    </div>
    <div class="col-12 col-sm-6 col-md-7 offset-4">
        <button class="btn-sortie" type="submit">
            Enregister
        </button>

        <button class="btn-sortie"><a href="{{ path('main_home') }}">Retourner à
            la page d'accueil</a>
        </button>
    </div>

    {{ form_end(userForm) }}

{% endblock %}

{% block style %}
    <style type="text/css">
        img {
            width: 150px;
            height: 150px;
        }
    </style>
{% endblock %}