{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}

{% block body %}
    {% if error %}
        <div style="text-align: center;">
            <div class="alert alert-danger">{{ error }}</div>
        </div>
    {% endif %}
    <div>
        <div style="text-align: center;"><h1 class="alert-link"> Mon profil ! </h1></div>
    </div>
    {% if user.photo %}
        <div style="text-align: center;">
            <img src="{{ asset('img/images/' ~ user.photo) }}">
        </div>
    {% endif %}
    {% if user.photo == false %}
        <div style="text-align: center;"><div> Vous n'avez pas encore de photo photo de profil</div></div>
    {% endif %}
    <div class="form">

        <div class="mt-4">
            {{ form_start(userForm) }}

            {{ form_widget(userForm) }}
            
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-7 offset-4">
        <button class="btn btn-lg btn-primary" type="submit">
            Enregister
        </button>

        <a class="btn btn-lg btn-danger"
           href="{{ path('main_home') }}">Retourner à
            la page d'accueil</a>
    </div>

    {{ form_end(userForm) }}

{% endblock %}

{% block style %}
    <style type="text/css">
        img {
            width:150px;
            height:150px;
        }
    </style>
{% endblock %}