{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}


{% block body %}

    <h1>Proposer une sortie</h1>

<div class="form">
    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}

    <button type="submit" class="btn" id="submitBtnForNewSortie">Valider</button>

    <button class="btn"><a href="{{ path('main_accueil') }}">Annuler</a></button>
    {{ form_end(sortieForm) }}
</div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/addSortie.js') }}"></script>
    <script src="{{ asset('js/jquery-3.6.0.js') }}"></script>
    <script src="https://unpkg.com/vue@next"></script>
{% endblock %}
