{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}


{% block body %}

    <h1>Proposer une sortie</h1>

<div class="form">
    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}

    {{ form_end(sortieForm) }}
    {% if(sortie.id!=null) %}
        <button class="btn"><a href="{{ path('sortie_cancelReason', {'sortie_id' : sortie.id}) }}">Supprimer la sortie</a></button>
    {% endif %}
    <button class="btn"><a href="{{ path('lieu_add') }}">Ajouter un lieu</a></button>
    <button class="btn" id="cancelBtnForAddSortie"><a href="{{ path('main_accueil') }}">Annuler</a></button>
</div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/addSortie.js') }}"></script>
{% endblock %}
