{% extends 'base.html.twig' %}

{% block title %}Détail Sortie{% endblock %}

{% block body %}

    {% if sortie.organisateur == app.user or "ROLE_ADMIN" in app.user.roles %}
        <div class="row align-items-center pad paddup">
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <img class="logo" src="{{ asset('img/logo_organisateur.png') }}" alt="organisateur">
            </div>
            {% if sortie.etat.libelle != 'Annulée' %}
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <a href="{{ path('sortie_cancelReason', {sortie_id: sortie.id}) }}">
                        <button class="cancel" id="cancel">Annuler</button>
                    </a>
                </div>
            {% else %}
                <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start">
                    <strong>Annulée: {{ sortie.motifAnnulation }}</strong>
                </div>
            {% endif %}
        </div>
        {% if cancelForm is defined %}
            <div class="row pad">
                <div class="col-12 d-flex justify-content-center">
                    <strong>Motif</strong>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-7 col-lg-5 offset-0 offset-md-3 offset-lg-4 offset-xl-5">
                    {{ form_start(cancelForm) }}
                    {{ form_widget(cancelForm.motifAnnulation, {'attr': {'class': 'field'}}) }}
                </div>
                <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-start">
                    <a href="{{ path('sortie_cancelReason', {sortie_id: sortie.id}) }}">
                        <button class="valider">Valider</button>
                    </a>
                    {{ form_end(cancelForm) }}
                </div>
            </div>
        {% endif %}
    {% elseif sortie.organisateur != app.user and sortie.etat.libelle == 'Annulée' %}
        <div class="row pad paddup">
            <div class="col-12 d-flex justify-content-center">
                <strong>Annulée:</strong>
            </div>
        </div>
        <div class="row align-items-center pad">
            <div class="col-12 d-flex justify-content-center">
                <strong>{{ sortie.motifAnnulation }}</strong>
            </div>
        </div>
    {% endif %}

    <div class="sortie">
        <div class="pad"></div>
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                {% if sortie.urlPhoto %}
                    <img class="photo" src="{{ asset('img/') ~ sortie.urlPhoto }}" alt="photo">
                {% else %}
                    <img class="photo" src="{{ asset('img/default_picture.png') }}" alt="photo">
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                <div class="row align-items-center pad odd left right">
                    <div class="col-12 col-sm-6 col-lg-4"><strong>Nom de la sortie:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-4">{{ sortie.nom }}</div>
                    <div class="col-12 col-sm-6 col-lg-2"><strong>Ville organisatrice:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-2">{{ sortie.site.nom }}</div>
                </div>
                <div class="row align-items-center pad even left right">
                    <div class="col-12 col-sm-6 col-lg-4"><strong>Date et heure de la
                            sortie:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-4">{{ sortie.dateDebut|date("\\l\\e d/m/Y \\à H:i") }}</div>
                    <div class="col-12 col-sm-6 col-lg-2"><strong>Lieu:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-2">{{ sortie.lieu.nom }}</div>
                </div>
                <div class="row align-items-center pad odd left right">
                    <div class="col-12 col-sm-6 col-lg-4"><strong>Date limite
                            d'inscription:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-4">{{ sortie.dateCloture|date("\\l\\e d/m/Y \\à H:i") }}</div>
                    <div class="col-12 col-sm-6 col-lg-2"><strong>Rue:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-2">{{ sortie.lieu.rue }}</div>
                </div>
                <div class="row align-items-center pad even left right">
                    <div class="col-12 col-sm-6 col-lg-4"><strong>Nombre de places:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-4">{{ nbPlaces }}</div>
                    <div class="col-12 col-sm-6 col-lg-2"><strong>Code Postal:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-2">{{ sortie.lieu.ville.codePostal }}</div>
                </div>
                <div class="row align-items-center pad odd left right">
                    <div class="col-12 col-sm-6 col-lg-4"><strong>Durée:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-4">{{ sortie.duree }} minutes</div>
                    {% if sortie.lieu.latitude %}
                        <div class="col-12 col-sm-6 col-lg-2"><strong>Latitude:</strong></div>
                        <div class="col-12 col-sm-6 col-lg-2">{{ sortie.lieu.latitude }}</div>
                    {% endif %}
                </div>
                <div class="row align-items-center pad even left right">
                    <div class="col-12 col-sm-6 col-lg-4"><strong>Description et infos:</strong></div>
                    <div class="col-12 col-sm-6 col-lg-4">{{ sortie.description }}</div>
                    {% if sortie.lieu.longitude %}
                        <div class="col-12 col-sm-6 col-lg-2"><strong>Longitude:</strong></div>
                        <div class="col-12 col-sm-6 col-lg-2">{{ sortie.lieu.longitude }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row pad paddup">
        <div class="col-12 d-flex justify-content-center"><strong>Participants</strong></div>
    </div>
    <div class="participants">
        <div class="row">
            <div class="col-6 col-lg-4 offset-0 offset-lg-4 d-flex justify-content-center justify-content-lg-start"><strong>Pseudo</strong></div>
            <div class="col-6 col-lg-2 d-flex justify-content-center justify-content-lg-start"><strong>Nom</strong></div>
        </div>
        {% for insc in sortie.inscriptions %}
            {% if loop.index is even %}
                <div class="row align-items-center gap">
                    <div class="col-6 col-lg-4
                        offset-0 offset-lg-4 even left
                        d-flex justify-content-center justify-content-lg-start"><a
                                href="{{ path('sortie_participant', {sortie_id: sortie.id, id: insc.participant.id}) }}">{{ insc.participant.pseudo }}</a>
                    </div>
                    <div class="col-6 col-lg-2 even right
                                d-flex justify-content-center justify-content-lg-start">{{ insc.participant.prenom }} {{ insc.participant.nom }}</div>
                </div>
            {% else %}
                <div class="row align-items-center gap">
                    <div class="col-6 col-lg-4
                        offset-0 offset-lg-4 odd left
                        d-flex justify-content-center justify-content-lg-start"><a
                                href="{{ path('sortie_participant', {sortie_id: sortie.id, id: insc.participant.id}) }}">{{ insc.participant.pseudo }}</a>
                    </div>
                    <div class="col-6 col-lg-2 odd right
                                d-flex justify-content-center justify-content-lg-start">{{ insc.participant.prenom }} {{ insc.participant.nom }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block style %}
    <style type="text/css">
        body {

        }

        .photo {
            width: 100%;
            border-radius: 1vw;
        }

        .pad {
            margin-bottom: 1vw;
        }

        .paddup {
            margin-top: 5vh;
        }

        .logo {
            width: 60px;
        }

        .cancel {
            border: 1px solid black;
            border-radius: 0.5vw;
            background-color: #ff7070;
        }
        .cancel:hover{
            color: white;
        }

        .even {
            min-height: 5vh;
            background-color: rgb(221, 237, 255);
        }

        .odd {
            min-height: 5vh;
            background-color: rgb(199, 208, 224);
        }

        .left {
            border-top-left-radius: 0.5vw;
        }

        .right {
            border-bottom-right-radius: 0.5vw;
        }

        .gap {
            margin-bottom: 0.5vh;
        }

        .field {
            width: 100%;
            border-radius: 0.3vw;
            background: transparent;
        }

        .valider {
            border: 1px solid black;
            border-radius: 0.5vw;
            background-color: #ff7070;
        }
        .valider:hover{
            color: white;
        }
    </style>
{% endblock %}

