{% extends 'base.html.twig' %}

{% block title %}Gérer les lieux{% endblock %}

{% block body %}

    <h1>Gérer les lieux</h1>

    <div class="flex-row">
        <div class="block">
            <div class="tableau">
                <div class="tableau-lieux">
                    <div><strong>Nom</strong></div>
                    <div><strong>Rue</strong></div>
                    <div><strong>Latitude</strong></div>
                    <div><strong>Longitude</strong></div>
                    <div><strong>Ville</strong></div>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div><strong>Actions</strong></div>
                    {% endif %}
                </div>
                <div class="tableau-lieux">
                    {% for lieu in lieux %}
                        <div><span>{{ lieu.nom }}</span></div>
                        <div><span>{{ lieu.rue }}</span></div>
                        <div><span>{{ lieu.latitude }}</span></div>
                        <div><span>{{ lieu.longitude }}</span></div>
                        <div><span>{{ lieu.ville.nom }}</span></div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('lieu_update', {lieu_id: lieu.id}) }}">Modifier</a>
                            <a href="{{ path('lieu_delete', {lieu_id: lieu.id }) }}">Supprimer</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="block">
            <h3>Ajouter un lieu</h3>
            {{ form_start(lieuForm) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(lieuForm) }}
            </div>
            <div class="form">
                <div>{{ form_row(lieuForm.nom) }}</div>
                <div>{{ form_row(lieuForm.rue) }}</div>
                <div>{{ form_row(lieuForm.ville) }}</div>
                <div>{{ form_row(lieuForm.latitude) }}</div>
                <div>{{ form_row(lieuForm.longitude) }}</div>
                <br>
                <button class="btn"><a href="{{ path('ville_add') }}">Gérer les villes</a></button>
                <button type="submit" class="btn">Valider</button>
                <button class="btn"><a href="{{ path('sortie_add') }}">Retour</a></button>
                {{ form_end(lieuForm) }}
            </div>
        </div>

    </div>

{% endblock %}


