{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

    <div class="row paddup">
        <div class="col-12 d-flex justify-content-center"><strong>{{ participant.pseudo }}</strong></div>
    </div>

    <div class="row align-items-center">
        <div class="col-8 col-md-4 offset-2 offset-md-0 offset-lg-1 ">
            {% if participant.photo %}
            <img class="userPic" src="{{ asset('img/images/') ~ participant.photo }}" alt="userPic">
            {% else %}
            <img class="userPic" src="{{ asset('img/user_no_pic.png') }}" alt="userPic">
            {% endif %}
        </div>
        <div class="col-12 col-md-8 col-lg-7">
            <div class="row align-items-center gap">
                <div class="col-6 odd left"><strong>Prénom:</strong></div>
                <div class="col-6 col-lg-4 odd right">{{ participant.prenom }}</div>
            </div>
            <div class="row align-items-center gap">
                <div class="col-6 even left"><strong>Nom:</strong></div>
                <div class="col-6 col-lg-4 even right">{{ participant.nom }}</div>
            </div>
            <div class="row align-items-center gap">
                <div class="col-6 odd left"><strong>Téléphone:</strong></div>
                <div class="col-6 col-lg-4 odd right">{{ participant.telephone }}</div>
            </div>
            <div class="row align-items-center gap">
                <div class="col-6 even left"><strong>E-mail</strong></div>
                <div class="col-6 col-lg-4 even right">{{ participant.mail }}</div>
            </div>
            <div class="row align-items-center gap">
                <div class="col-6 odd left"><strong>Ville de rattachement:</strong></div>
                <div class="col-6 col-lg-4 odd right">{{ participant.site.nom }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="{{ path('sortie_detail', {sortie_id: sortie.id}) }}"><button class="back">Retour</button></a>
        </div>
    </div>

{% endblock %}

{% block style %}
    <style type="text/css">
        body{
            height: 100vh;

        }
        .userPic{
            width:100%;
        }
        .paddup{
            margin-top: 5vh;
        }
        .gap{
            margin-bottom: 1vh;
        }
        .back{
            border: 1px solid black;
            border-radius: 0.5vw;
            background-color: rgb(200, 222, 252);
        }
        .back:hover{
            background-color: teal;
            color: white;
        }
        .odd{
            height: 5vh;
            background-color: rgb(199, 208, 224);
        }
        .even{
            height: 5vh;
            background-color: rgb(221, 237, 255);
        }
        .left{
           border-top-left-radius: 1vw;
        }
        .right{
            border-bottom-right-radius: 1vw;
        }
    </style>
{% endblock %}
