{% extends 'base.html.twig' %}

{% block title %}Gérer les sites{% endblock %}

{% block body %}

    <h1>Gérer les sites</h1>

    <div class="flex-row">
        <div class="block">
            <div class="tableau">
                <div class="tableau-sites">
                    <div><strong>Nom</strong></div>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div><strong>Actions</strong></div>
                    {% endif %}
                </div>
                <div class="tableau-sites">
                    {% for site in sites %}
                        <div><span>{{ site.nom }}</span></div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('site_update', {site_id: site.id}) }}">Modifier</a>
                            <a href="{{ path('site_delete', {site_id: site.id }) }}">Supprimer</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="block">
            <div class="form">
            <h3>Ajouter un site</h3>
            <div>
                {{ form_start(siteForm) }}

                {{ form_widget(siteForm)}}

                <button type="submit" class="btn">Valider</button>
                <button class="btn"><a href="{{ path('site_add') }}">Retour</a></button>
                {{ form_end(siteForm) }}
            </div>
            </div>
        </div>
    </div>


{% endblock %}