{% extends 'base.html.twig' %}

{% block title %}Créer une ville{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>

    <div class="flex-block">
        <div class="half-block">
            <div class="row">
                <div class="col-lg-3"><strong>Nom</strong></div>
                <div class="col-lg-3"><strong>Code Postal</strong></div>
            </div>
            {% for ville in villes %}
                <div class="row">
                    <div class="col-lg-3"><span>{{ ville.nom }}</span></div>
                    <div class="col-lg-3"><span>{{ ville.codePostal }}</span></div>
                </div>
            {% endfor %}
        </div>
        <div class="half-block">
            <div class="form">
            <h3>Ajouter une ville</h3>
            <div>
                {{ form_start(villeForm) }}

                {{ form_widget(villeForm)}}

                <button type="submit" class="btn">Ajouter la ville</button>
                {{ form_end(villeForm) }}
            </div>
            </div>
        </div>
    </div>


{% endblock %}