<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Welcome! {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('styles/styleTest.css') }}">
    <link rel="icon" href="{{ asset('img/Icon-sortie.png') }}">
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
<div class="container-grille">
<header class="bg-color">

    <div><img src="{{ asset('img/Logo-sortie.png') }}" height="50px" alt="Sortie !"></div>
    <h1>Sortir.com</h1>

    {% if app.user %}
        <div>{% include 'menu/nav.html.twig' %}</div>
    {% endif %}
</header>
<main>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
{% block style %}{% endblock %}
</main>
</div>
</body>

<script src="{{ asset('js/jquery-3.6.0.js') }}"></script>
<script src="{{ asset('js/addSortie.js') }}"></script>
</html>
