{% extends 'base.html.twig' %}

{% block title %}Gestion Utilisateurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center hello rowset">
            <strong>Hello {{ app.user.pseudo }} !</strong>
        </div>
    </div>

    <div class="container">
        {{ form_start(formActive, {'attr': {'class': 'row'}}) }}
        {% for item in allUsers %}
            {% if loop.index is odd %}
                <div class="col-12 col-sm-6 d-flex justify-content-start justify-content-sm-center rowset odd gap left">
                    {{ form_label(formActive.children[item.id]) }}
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-start justify-content-sm-center rowset odd gap right">
                    {{ form_widget(formActive.children[item.id]) }}
                </div>
            {% else %}
                <div class="col-12 col-sm-6 d-flex justify-content-start justify-content-sm-center rowset even gap left">
                    {{ form_label(formActive.children[item.id]) }}
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-start justify-content-sm-center rowset even gap right">
                    {{ form_widget(formActive.children[item.id]) }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-12 d-flex justify-content-center">
            <button class="valider">Valider</button>
        </div>
        {{ form_end(formActive) }}
    </div>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a href="{{ path('users_export') }}" class="export">Exporter tous les utilisateurs</a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block style %}
    <style type="text/css">
        .hello{
            font-size: 3vh;

        }
        input[type=radio] {
            margin-right: 1vw;
            margin-left: 1vw;
        }

        .valider {
            border: 1px solid black;
            border-radius: 0.5vw;
        }
        .valider:hover{
            background-color: teal;
            color: white;
        }

        input[type=radio] {
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 1.5vh;
            height: 1.5vh;
            margin-right: 1vw;
            border: 1px solid black;
            border-radius: 50%;
        }

        input[type=radio]:checked {
            background-color: #00a6ff;
        }

        .rowset {
            padding: 3vh;
        }
        .odd{
            background-color: rgb(199, 208, 224);
        }
        .even{
            background-color: rgb(221, 237, 255);
        }
        .gap{
            margin-bottom: 1vh;
        }
        .left{
            border-top-left-radius: 1vw;
        }
        .right{
            border-bottom-right-radius: 1vw;
        }
        .export{
            text-decoration: none;
            border: 1px solid black;
            padding-left: 0.2vw;
            padding-right: 0.2vw;
            border-radius: 0.5vw;
            background-color: #28343d;
            color: white;
        }
        .export:hover{
            color: #03e8e8;
        }
    </style>
{% endblock %}
