<nav>
    <div class="topnav ">
        <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
        <label for="menu-checkbox" class="menu-toggle">≡ Menu</label>
        <ul class="nav ulNav" id="menu">
            <li><a class="navLink" href="{{ path('main_accueil') }}" title="Home">Accueil</a></li>
            <li><a class="navLink" href="{{ path('sortie_add') }}" title="Ajouter une sortie">Ajouter une sortie</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a class="navLink" href="{{ path('sortie_ville') }}" title="gestion_villes">Villes</a>
                </li>
                <li><a class="navLink" href="{{ path('sortie_site') }}" title="gestion_sites">Sites</a>
                </li>
                <li><a class="navLink" href="{{ path('app_register') }}" title="register">Enregistrer un utilisateur</a>
                </li>
            {% endif %}
            <li><a class="navLink" href="{{ path('profil_edit', {'id' : app.user.id}) }}" title="Mon Profil">Mon Profil
                   </a></li>
            <li><a class="navLink" href="{{ path('app_logout') }}" title="Deconnexion">Déconnexion</a></li>
        </ul>
    </div>
</nav>
